
<div class="topabout center row" >
<h1><span style="color: #ff66cc;">スキルフル</span><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size:24px; color: #ff66cc "></span>へようこそ</h1>
<h3>みなさんのスキルや、知識などを売買できるECマーケットです。</h3>


<h3>手続きも簡単にできます。<br>登録も簡単です。</h3>

</div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">		
	<table class="table table-bordered table-responsive " style="margin-top: 50px; max-width: 600px; font-size: 20px; border: 2px solid #C7CBC7   ;">	
		<tr>
			<td>登録料・月額</td>
			<td>無料</td>
		</tr>

		<tr>
			<td>販売手数料</td>
			<td>15％</td>
		</tr>

		<tr>
			<td>振込日</td>
			<td>月に1回、毎月月末〆の翌月末支払い</td>
		</tr>

		<tr>
			<td>振込最低金額</td>
			<td>受取可能な残高が4,000円</td>
		</tr>

		<tr>
			<td>振込手数料</td>
			<td>216円</td>
		</tr>


	</table>
</div>
</div> 
	



 <!-- START highlights of the pet trend-->
  <div class="row aboutads" >
      <div class="col-xs-12 col-sm-6 ">
          <h3><span class="glyphicon glyphicon-thumbs-up"></span>  30万人の登録数</h3>
          <p>98%のお客様より満足の声と頂いております。<br/>
          返品やアフターフォローも安定しております。</p>
        　
      </div>

       <div class="col-xs-12 col-sm-6">
          <h3><span class="glyphicon glyphicon-shopping-cart"></span>  インターネットでいつでも購入可能</h3>
          <p>一週間以内にあなたのお家へお届けします。<br/>
          14日以内なら、返品可能です。また3ヶ月以内であれば購入金額70％で買い取りいたします。
          </p>

      </div>

 <div class="col-xs-12 col-sm-6">
          <h3><span class="glyphicon glyphicon-home"></span>  多くの品揃え</h3>
          <p>今まで探していたものが簡単に手に入るかも？<br/>あなたのスキルで多くの人が幸せになれるでしょう。</p>
         </div>

       <div class="col-xs-12 col-sm-6">
          <h3><span class="glyphicon glyphicon-phone-alt"></span>  24時間緊急対応</h3>
          <p>カスタマーサポーと24時間対応<br/>お電話で問題をサポート！<br/>
          また、チャットやFAXでのご回答も受け付けております。<br/><br/>
          </p>
      </div>

       <div class="col-xs-12 col-sm-6">
          <h3><span class="glyphicon glyphicon-envelope"></span>  特別会員様限定</h3>
          <p>毎月、会員様の中から限定10名様に割引クーポンをプレゼント！<br/>その他、お客様だけに耳寄りな情報を提供いたしております。</p>
          
      </div>

       <div class="col-xs-12 col-sm-6">
          <h3><span class="glyphicon glyphicon-film"></span>  ツイートキャンペーン</h3>
          <p>ツイートでシェアすることで、抽選で売り上げ３０％アップポイントをゲット。<br/>
          ムービー投稿でさらにあなたの商品に興味が沸くこと間違いなし！</p>
      </div>
  </div><!-- End of row highlights-->




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
  </script>

