<div class="container">

  <h3 class="page-header">お問い合わせフォーム</h3>
  <p><span style="color: #ff66cc ; font-size: 16px;">スキルフル</span><span class="glyphicon glyphicon-leaf" aria-hidden="true" style="font-size:16px; color: #ff66cc "></span>へのお問い合わせは、下記のフォームよりお願いします。 <br/>
  内容を確認のうえご返信させていただきますが、お問い合せの内容によりましては、 ご回答にお時間がかかる場合がございますので、予めご了承願います。
  </p>


<div class="formset">
  <form class="form-horizontal">
      <div class="form-group">
        <label  class="col-xs-12 col-sm-3" for="name">お名前</label>
        <div class="col-xs-12 col-sm-6">
          <input type="text" class="form-control" id="name">
        </div>
      </div>
      

      <div class="form-group">
        <label class="col-xs-12 col-sm-3" for="gender">性別</label>
          <div class="col-xs-12 col-sm-6">
            <label class="radio-inline"><input type="radio" name="gender">男性</label>
            <label class="radio-inline"><input type="radio" name="gender">女性</label>
            
          </div>

      </div>


      <div class="form-group">
        <label  class="col-xs-12 col-sm-3" for="email">メールアドレス</label>
        <div class="col-xs-12 col-sm-6">
          <input type="text" class="form-control" id="email">
        </div>
      </div>

      <div class="form-group">
        <label  class="col-xs-12 col-sm-3" for="phone">電話番号</label>
        <div class="col-xs-12 col-sm-6">
          <input type="text" class="form-control" id="phone">
        </div>
      </div>


        <div class="form-group">
        <label  class="col-xs-12 col-sm-3" for="country">ご希望のご連絡方法</label>
          <div class="col-xs-12 col-sm-6">
             <lable class="checkbox-inline"><input type="checkbox" value="phone">電話</lable> 
             <lable class="checkbox-inline"><input type="checkbox" value="email">e-mail</lable> 
             <lable class="checkbox-inline"><input type="checkbox" value="fax">FAX</lable> 
       </div>
      </div>

      <div class="form-group">
        <label  class="col-xs-12 col-sm-3" for="reason">問い合わせの種類</label>
         <div class="col-xs-12 col-sm-6">
            <select class="form-control" id="reason">
              <option>ご選択ください</option>
              <option>価格・注文方法について</option>
              <option>事業内容について</option>
              <option>投資・募金について</option>
              <option>採用について</option>
              <option>その他</option>
              </select>
         </div>
      </div>


      <div class="form-group">
          <label  class="col-xs-12 col-sm-3" for="comment">お問い合わせ内容</label>
          <div class="col-xs-12 col-sm-6">
          <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
      </div>

      
        
 

<!--button to show more choices-->
    <div class="center">
    	<%= link_to "送信", root_path ,class: "btn btn-primary"%>
      </div>
   




<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
         <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
         <script>
           $('.dropdown-toggle').dropdown()
  </script>

